* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100%;
    width: 100%;

}

.main img{
       height: 100px;
       width: 100px;
}


.nav{
    position: fixed;
  z-index: 1;
    height: 80px;
    width: 100%;
    background: linear-gradient(purple,pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.nav img{
    height: 30px;
    width: auto;
}

.nav .content{
    display: flex;
    justify-content: space-between;
    gap:40px;
    align-items: center;
    
    height: 60%;
    width: 80%;
}
.cart-box{
    position: absolute;
    right: 20px;
    height: 120px;
    width: 100px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 500px;
}


.content input{
    border: none;
    height: 100%;
    width: 500px;
    outline: none;

}

.main2{
    position: relative;
    top: 80px;
}

.main2 .nav2{

    position: relative;
    
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 80%;
   
}

.nav2 p:hover{
    color: lightblue;
}

.container{
    position: relative;
    margin: auto;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
   
}

.container .slideshow{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slideshow img{
    display: inline;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.services_section{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      height: 100px;
      width: 80%;
      gap: 30px;
      background-color: beige;
      margin: auto;
}

.services_section img{
    height: 35px;
    width: auto;
}

.trending_books_section,.BestSeller_books_section ,.newArrivals_books_section, .international_best_sellers{
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-start;
   
   margin: auto;
   height: 350px;
   width: 90%;
  
}

.books_section, .books_section1, .books_section2, .books_section4 {
    display: flex;
    flex-wrap: nowrap;  /* Prevent wrapping, keeps items in one line */
    align-items: center;
    height: 350px;
    width: 100%;
    overflow-y: hidden; /* Hide vertical overflow */
    overflow-x: auto;  /* Enable horizontal scrolling */
}

.trending_books_section .book,
.BestSeller_books_section .book,
.newArrivals_books_section .book,
.international_best_sellers .book {
    cursor: pointer;
    flex-shrink: 0; /* Prevent shrinking */
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px;
    height: 280px;
    width: 180px;
    background-color: white;
    box-sizing: border-box;
}

.books_section::-webkit-scrollbar, 
.books_section1::-webkit-scrollbar, 
.books_section2::-webkit-scrollbar, 
.books_section4::-webkit-scrollbar,
.author_section::-webkit-scrollbar{
    display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}


.book img{
    object-fit: contain;
    height: auto;
    width: 100px;
}

.book button{
    cursor: pointer;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
}

.book button:hover{
    background-color: green;
    color: white;
}

hr{
    position: absolute;
}

h1{
    position: relative;
    margin: 30px 40px 0px 10px;
}




.largeImage{
    margin: auto;
    position: relative;
    top: 100px;
    height: 40%;
    width: 80%;

}

.largeImage img{

    height: 90%;
    width: 100%;
}

.fiction_and_manga_book{
    position: relative;
    top: 100px;
    margin: auto;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 90%;
}

.fiction_and_manga_book img{
    margin: 20px;
    flex-shrink: 0;
    height: 75%;
    width: 50%;
}

.author_section{

    position: relative;
    top: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
     
    height: 50%;
    width: 90%;
    margin: auto;
}

.author_section img{
    cursor: pointer;
    margin: 10px 20px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.footer{
    position: relative;
    top: 50px;
    height: 180px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.social{
    height: 10%;
    width: 100%;
}

.social_collection{
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 12px;
    height: 100%;
    width: 22%;
  
    margin: auto;
}

.social_collection img{
    position: relative;
    height: 35px;
    width: 35px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
  

}

.copyright p{
    color: grey;
}

@media (max-width:480px) {
    .nav{
        height: 100px;
        width: 100vw;
        overflow: hidden;
    }

    .fiction_and_manga_book img{
        margin: 20px;
        flex-shrink: 0;
        height: 50%;
        width: 45%;
    }
    .main{
        height: 100%;
        width: 100%;
    }

    .main2 .nav2{
        display: flex;
        overflow:hidden;
        font-size: 12px;
        top: 20px;
        
        gap: 30px;
    
    
    }

    .services_section{
        height: 80px;
    }

    .services_section p{
        font-size: 12px;
    }

    .services_section img{
        height: 23px;
        width: 23px;
    }

    .container{
        position: relative;
        margin: auto;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: 90%;
       
    }
    .trending_books_section,.BestSeller_books_section ,.newArrivals_books_section, .international_best_sellers{
        position: relative;
        top: 50px;
        display: flex;
        flex-wrap: wrap;
       justify-content: flex-start;
       
       margin: auto;
       height: 280px;
       width: 90%;
      
    }
    
    .books_section, .books_section1, .books_section2, .books_section4 {
       
        height: 280px;
        width: 100%;
        
    }
    
    .trending_books_section .book,
    .BestSeller_books_section .book,
    .newArrivals_books_section .book,
    .international_best_sellers .book {
        margin-right: 4px;
        height: 220px;
        width: 150px;
        
    }

    h1{
        font-size: 20px;
    }

    .trending_books_section .book p,.BestSeller_books_section .book p,.newArrivals_books_section .book p,.international_best_sellers .book p{
        font-size: 14px;
    }
    
    
    
    
    .book img{
        object-fit: contain;
        height: auto;
        width: 60px;
    }
    
    .book button{
        cursor: pointer;
        height: 20px;
        width: 100px;
        border: none;
        border-radius: 10px;
        background-color: lightgreen;
        color: white;
    }

    .author_section{

        position: relative;
        top: 100px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        overflow-x:scroll;
        overflow-y:hidden;
        flex-wrap: nowrap;
         width:100%;
        height: 30%;
        
        
    }
    
    .author_section img{
        cursor: pointer;
        
        height: 90px;
        width: 90px;
        
    }

    

    .social img{
        height: 30px;
        width: 30px;
    }

    .search,.cart,.notification,.cart-box{
        display: none;
    }
    .cart2{
        height:30px;
        width:50px;
    }

    .nav2{
        overflow-x: scroll;
        overflow-y: hidden;
         flex-wrap:nowrap;

        
    }

    
    
}








